# IDEs
.idea
.vs/
# .vscode/
# !**/adg_ros2/.vscode/

# Python
*.pyc
**/__pycache/
*.egg-info/
# robot_arm_interface/robot_arm_interface/__pycache__/fr3_interface.cpython-310.pyc


# ROS2
COLCON_IGNORE
AMENT_IGNORE
cmake-build-*/
build/
install/
log/

# Results
**/test/results/**
**/results/**

# Docs
site/