# IDEs
.idea
.vs/
# .vscode/
# !**/adg_ros2/.vscode/
.vscode/.env.humble
.vscode/**.code-workspace

# Python
*.pyc
**/__pycache/
*.egg-info/
# robot_arm_interface/robot_arm_interface/__pycache__/fr3_interface.cpython-310.pyc
.pytest_cache/

# pixi
.pixi/

# ROS2
COLCON_IGNORE
AMENT_IGNORE
cmake-build-*/
build/
build_humble/
install_humble/
log/

# Agents
.github/plans/

# Data
**/test/results/**
**/results/**
data/

# Docs
site/

crisp_py/# pixi environments
.pixi/*
!.pixi/config.toml
