x-base: &base
  image: adl_ros2:base
  build:
    context: ..
    dockerfile: .devcontainer/Dockerfile
    target: base
    args:
      ROS_DISTRO: humble
      USER_UID: ${UID:-1001}
      USER_GID: ${GID:-1001}

  # --- Settings
  network_mode: "host"
  privileged: true
  ipc: "host"
  # ---

  command: /bin/bash
  tty: true
  stdin_open: true

  volumes:
    - ../:/home/ros/ros2_ws/src/adl-ros2
    - /tmp/.X11-unix:/tmp/.X11-unix
    - $XAUTHORITY:$XAUTHORITY
    - ./limits.conf:/etc/security/limits.conf
    # - ~/.gitconfig:/etc/gitconfig:ro
    - ~/.ssh:/home/ros/.ssh:ro

  environment:
    QT_X11_NO_MITSHM: 1
    DISPLAY: $DISPLAY
    PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    PKG_CONFIG_PATH: /usr/local/lib/pkgconfig:/usr/lib/pkgconfig
    LD_LIBRARY_PATH: /usr/local/lib:/usr/lib
    PYTHONPATH: /usr/local/lib/python3.10/site-packages
    CMAKE_PREFIX_PATH: /usr/local

  # user: "${UID:-1000}:${GID:-1000}"

  cap_add:
    - SYS_NICE

  ulimits:
    rtprio: 99
    rttime: -1
    memlock: 8428281856

  device_cgroup_rules:
    - 'c *:* rmw'

  devices:
    - "/dev/ttyACM0:/dev/ttyACM0"
  # deploy:
  #   resources:
  #     reservations:
  #       devices:
  #         - capabilities: [ gpu ]

services:
  devcontainer:
    <<: *base
    container_name: adl_ros2
  # docs:
  #   <<: *base
  #   container_name: adl_ros2_docs

  #   command: >
  #     mkdocs serve
  #   command: >
  #     mkdocs serve

  #   ports:
  #     - "8000:8000"
  #   ports:
  #     - "8000:8000"

  #   depends_on:
  #     - devcontainer
  #   depends_on:
  #     - devcontainer

  # foxglove:
  #   <<: *base
  #   container_name: adl_ros2_foxglove

  #   command: >
  #     ros2 launch foxglove_bridge foxglove_bridge_launch.xml
  #   command: >
  #     ros2 launch foxglove_bridge foxglove_bridge_launch.xml

  #   depends_on:
  #     - devcontainer
  #   depends_on:
  #     - devcontainer
